/* .passwordResetForm {
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}

.passwordResetForm label {
    display: block;
}

.passwordResetForm div {
    margin: 10px;
}

.passwordResetForm label[for='consentsToTermsAndConditions'] {
    display: inline;
    margin-left: 5px;
} */