.resourceListHeader {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-bottom: 1px solid black;
}

.resourceListRow {
    padding: 10px 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    color: black;
    text-decoration: none;
}

.error {
    color: red;
    font-weight: 800;
}

.detailsTab {
    padding: 0 50px;
}

.detailsTabHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detailsTabHeader h2 {
    display: inline;
}